.categories {
  padding: 60px 10%;
  background-color: #f9f9f9;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: #222;
  margin-bottom: 30px;
}

.title span {
  color: #c27243;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.catImg {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%; /* دائري */
  margin-bottom: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover .catImg {
  transform: scale(1.05);
}

.catName {
  font-size: 18px;
  font-weight: 600;
  color: #444;
  margin-top: 5px;
}
