.features {
  padding: 70px 10%;
  background-color: #f9f9f9;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #222;
}
.title span {
  color: #c27243;
}

/* grid: كل صف فيه كاردين */
.grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  margin: auto;
}

.card {
  background: #fbf6e8;
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.icon {
  font-size: 40px;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 20px;
  color: #c27243;
  margin-bottom: 10px;
}

.card p {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
}

/* الكاردات تبقى واحدة تحت التانية على الموبايل */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    max-width: 450px;
  }
}
